* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:"monseratt" ;
}

@font-face {
    font-family:"monseratt" ;
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}